@{
    ViewData["Title"] = "Home Page";
}


<div class="container my-4">
    <h3 class="mb-4">Statistics</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card border border-dark mb-3 shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Cities</h5>
                    <p class="card-text display-6">@ViewBag.CityCount</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border border-dark mb-3 shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">States</h5>
                    <p class="card-text display-6">@ViewBag.StateCount</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border border-dark mb-3 shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">Countries</h5>
                    <p class="card-text display-6">@ViewBag.CountryCount</p>
                </div>
            </div>
        </div>
    </div>
</div>

