@page "/routing"

<h3>Routing Component</h3>
<p>
    This is a routing component. You can navigate to this component by clicking on the "Routing" link in the navigation menu. This component is used to demonstrate how to use routing in Blazor. You can also navigate to this component by entering the URL "/routeing" in the browser's address bar.
</p>
<div>
    <NavLink href="/routing-parameter/101/vishal">Routing-Parameter</NavLink>
    <br />
    <NavLink href="/navmanager">NavManager</NavLink>
    <br />
    <NavLink href="/form">Form</NavLink>
    <br />
</div>

@code {

}
