@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="background-color:rgb(43, 0, 128);display: flex; justify-content: center;  align-items: center;">

    <div class="container border border-dark rounded p-3 bg-light">
        <h1 class="mb-3">Registration</h1>
        <form class="row g-3 needs-validation" novalidate>

            <h4 class="text-body-secondary">
                Personal Details</h3>
                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">Full name</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Enter your name" required>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">Date of Birth</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Enter birth date" required>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom02" class="form-label">Email</label>
                    <input type="email" class="form-control" id="validationCustom02" placeholder="Enter your email" required>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">Mobile Number</label>
                    <input type="number" class="form-control" id="validationCustom01" placeholder="Enter mobile number" required>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">Gender</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Enter your Gender" required>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom02" class="form-label">Occupation</label>
                    <input type="email" class="form-control" id="validationCustom02" placeholder="Enter occupation" required>
                </div>

                <h4 class="text-body-secondary">
                    Identity Details</h3>
                    <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">ID Type</label>
                        <input type="text" class="form-control" id="validationCustom01" placeholder="Enter ID Type" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">ID Number</label>
                        <input type="text" class="form-control" id="validationCustom01" placeholder="Enter ID Number" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationCustom02" class="form-label">Issue Authority</label>
                        <input type="email" class="form-control" id="validationCustom02" placeholder="Enter Issue Authority" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">Issue Date</label>
                        <input type="number" class="form-control" id="validationCustom01" placeholder="Enter Issue Date" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationCustom01" class="form-label">Issue State</label>
                        <input type="text" class="form-control" id="validationCustom01" placeholder="Enter Issue State" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationCustom02" class="form-label">Expiry Date</label>
                        <input type="email" class="form-control" id="validationCustom02" placeholder="Enter Expiry Date" required>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-secondary w-25" style="background-color: rgb(43, 0, 128);" type="submit">Next <i class="bi bi-arrow-right ms-2"></i></button>
                    </div>
        </form>
    </div>
</div>
