<div style="background-color:rgb(111, 212, 252); display: flex; justify-content: center;  align-items: center;">
    <div class="container p-3 bg-light my-5 shadow-sm">
        <div class="container border border-2 border-dark p-5">
            <div class="row">
                <div class="col text-center my-1">
                    <h1 class="text-decoration-underline">REGISTRATION FORM</h1>
                </div>
            </div>
            <div class="row my-1">
                <div class="col text-center fw-bold">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col bg-secondary-subtle me-2">
                    <label class="form-label">Name:</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
                <div class="col bg-secondary-subtle ms-2">
                    <label class="form-label">Date of Birth:</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
            </div>
            <div class="row my-2">
                <div class="col bg-secondary-subtle me-2">
                    <label class="form-label">Address1:</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
                <div class="col bg-secondary-subtle ms-2">
                    <label class="form-label">Address2:</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
            </div>
            <div class="row my-2">
                <div class="col bg-secondary-subtle me-2">
                    <label class="form-label">City:</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
                <div class="col bg-secondary-subtle ms-2">
                    <label class="form-label">Phone Number:</label>
                    <div>
                        <input type="checkbox">
                        <label>Home</label>
                        <input type="checkbox">
                        <label>Cell</label>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col"><div class="border border border-dark border-2"></div></div>
            </div>
            <div class="row my-4">
                <div class="col text-center bg-secondary p-2"><h2>CONTACT DETAILS</h2></div>
            </div>
            <div class="row my-2">
                <div class="col bg-secondary-subtle me-2">
                    <label class="form-label">E-mail:</label>
                    <input type="email" class="form-control bg-secondary-subtle">
                </div>
                <div class="col bg-secondary-subtle ms-2">
                    <label class="form-label">Business Name:</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
            </div>
            <div class="row my-2">
                <div class="col bg-secondary-subtle me-2">
                    <label class="form-label">Father's Name:</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
                <div class="col bg-secondary-subtle ms-2">
                    <label class="form-label">Mother's Name</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
            </div>
            <div class="row my-2">
                <div class="col bg-secondary-subtle me-2">
                    <label class="form-label">Other 1:</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
                <div class="col bg-secondary-subtle ms-2">
                    <label class="form-label">Other 2:</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
            </div>
            <div class="row my-4">
                <div class="col text-center bg-secondary p-2"><h2>OTHER INFORMATIONS</h2></div>
            </div>
            <div class="row my-2">
                <div class="col bg-secondary-subtle me-2">
                    <label class="form-label">Start Date</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
                <div class="col bg-secondary-subtle ms-2">
                    <label class="form-label">End Date</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
                <div class="col bg-secondary-subtle ms-2">
                    <label class="form-label">Time</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-8 bg-secondary-subtle me-2">
                    <label class="form-label">Annual Payment:</label>
                </div>
                <div class="col ms-2 bg-secondary-subtle p-2">
                    <input type="text" class="form-control border-0" placeholder="$">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-8 bg-secondary-subtle me-2">
                    <label class="form-label">Total Annual Payment:</label>
                </div>
                <div class="col ms-2 bg-secondary-subtle p-2">
                    <input type="text" class="form-control border-0" placeholder="$">
                </div>
            </div>
            <div class="row mt-5 mb-1">
                <div class="col text-center">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col bg-secondary-subtle me-2">
                    <label class="form-label">Full Name :</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
                <div class="col bg-secondary-subtle ms-2">
                    <label class="form-label">Paid Via :</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
            </div>
            <div class="row my-2">
                <div class="col bg-secondary-subtle me-2">
                    <label class="form-label">Date</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
                <div class="col bg-secondary-subtle ms-2">
                    <label class="form-label">Signature</label>
                    <input type="text" class="form-control bg-secondary-subtle">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <h6>WWW.YOURWEBSITE.COM</h6>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center w-100" style="background-color:rgb(255, 255, 255); ">
            <div class="col text-end">
                <h3>Desined By</h3>
            </div>
            <div class="col">
                <img src="~/freepic.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>