@inherits LayoutComponentBase

<div class="container">
    <div class="bg-primary m-2 p-5 border border-dark rounded">
        <h1 class="text-center">Header</h1>
    </div>

    <div class="bg-warning p-5 m-2 border border-dark rounded">
        <h1 class="text-center">Navbar</h1>
    </div>

    <div class="m-2 p-5 border border-dark rounded">
        @Body
    </div>

    <div class="bg-success m-2 p-5 border border-dark rounded">
        <h1 class="text-center">Footer</h1>
    </div>
</div>
