@page "/testcomponent"
@using MyFirstBlazorApp.Services
@inject TestService Service1
@inject TestService Service2


<h3>TestComponent</h3>

<h2>Service 1 ID : @Service1.Id</h2>
<h2>Service 2 ID : @Service2.Id</h2>

@code {

}
